body {
  background-color: hsl(216, 12%, 8%);
}

.container {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  font-family: 'Overpass', sans-serif;
  background-color: hsl(213, 19%, 18%);
  width: 40%;
  border-radius: 30px;
  padding: 30px;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(360deg);
}

#star-container, .rating-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 100%;
  width: 70px;
  height: 65px;
  background-color: hsl(213, 15%, 24%);
}

#star-icon {
  width: 25px;
  object-fit: contain;
}

h1 {
  color: white;
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
}

div {
  color: hsl(217, 12%, 63%);
}

.rating-button {
  color: white;
}

.submit-button {
  display: block;
  border-radius: 25px;
  border-style: none;
  width: 380px;
  height: 50px;
  margin: 0 auto;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 42px auto;
}

.rating-button:hover {
  background-color: hsl(216, 12%, 54%);
}

.rating-button:active {
  background-color: hsl(25, 97%, 53%);
}

.submit-button:active {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

#thank-you-image {
  display: block;
  margin: 0 auto;
}

.back h1, p {
  text-align: center;
}

.result {
  text-align: center;
  color: hsl(25, 97%, 53%);
  border-radius: 30px;
  background-color: hsl(213, 15%, 24%);
  margin: 35px auto;
  height: 31px;
  width: 50%;
  padding-top: 15px;
}
